@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  background: #ffffff;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
    article {
      li,
      p,
      h1,
      h2,
      h3,
      h4,
      strong {
        color: #000000;
      }
      a {
        font-weight: 700;
        color: #000000;
      }

      a:hover {
        color: #0000ee;
        text-decoration: underline;
      }
      img {
        width: auto;
        align-items: center;
      }

      pre {
        ::selection {
          background: rgba(255, 255, 255, 0.15);
        }
      }
      ::selection {
        background: rgba(225, 63, 94, 0.2);
      }
    }
  }

  .dark {
    --background: rgba(0, 0, 0, 0.8);
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    article {
      li,
      p,
      h1,
      h2,
      h3,
      h4,
      strong,
      code {
        color: #ffffff;
      }

      a {
        font-weight: 700;
        text-decoration: underline;
        color: #ffffff;
      }

      a:hover {
        text-decoration: underline;
        color: #e13f5e;
      }
    }
    ::selection {
      background: rgba(255, 255, 255, 0.15);
    }
  }
}
